h2 {
    margin: 0;
}

#mid-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.item {
    flex: 1;
    min-width: 36em;
    min-height: 15em;
}

.item-title {
    font-size: 1.5em;
    text-align: center;
}

.item-desc {}

.item-img {
    background-position: center;
    background-size: cover;
    width: 25.6em;
    height: 14.4em;
    display: inline-block;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* Column | row */
}

.coming-soon-text {
    font-size: 1.8em;
    color: rgb(114, 114, 114);
}