/* for the panels used as 2d UI inside VR world */

#html-panel{
    font-family: 'Now', sans-serif;
    padding: 1em;
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #ebfdff;
    text-align: center;
    font-size: 1.2em;
}

#html-panel button {
    font-size: 1.15em;
}

#html-panel .tips {
    position: absolute;
    bottom: 1em;
}