h1 {
    font-size: 2.8em;
    margin-top: 1em;
    margin-bottom: 0.4em;
}
  
.mid {
    width: 80vw;
    margin: 1.8em auto;
}

button.select-orbitals {
    font-size: 1.4em;
}

div#mid-3 {
    text-align: center;
}

div#mid-3 #gl-canvas {
    text-align: center;
}

div#mid-4 {
    text-align: center;
}

div#mid-4 input.rot-slider {
    width: 65vw;
}